@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Freeman", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}
.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
}
.icon-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container object {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease, fill 0.3s ease;
}
.icon-container object:hover {
  transform: scale(1.2);
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.profile img:hover {
  transform: scale(1.1);
}
.profile p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
}
.aboutus-des {
  font-size: 25px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5px;
  background: rgb(111, 11, 194);
}
.social-i {
  font-size: 3em;
}
.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-nav li {
  margin: 0px 5px;
}

.footer-nav a {
  color: #fff;
}

.footer-nav a:hover {
  color: red;
}
nav {
  background: rgb(111, 11, 194);
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: red;
}
.hidden {
  display: none;
}
.logo {
  flex: 1;
}

.logo img {
  width: 200px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu li {
  padding: 15px 10px;
  font-size: 20px;
}

.menu-icon {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .nav-menu {
    margin-top: 15px;
    display: none;
  }

  .nav-menu.active,
  .menu-icon {
    display: block;
  }
  .menu-icon {
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
.description p {
  padding: 10px;
}
.title {
  font-size: 35px;
}
.footer-des {
  margin-bottom: 50px;
}

.icon-container {
  display: flex;
}

.icon-container div {
  width: 50%;
}

@media (max-width: 768px) {
  .description,
  .footer-des {
    margin: 0 auto;
    padding: 10px;
  }
  .icon-container {
    display: flex;
  }

  .icon-container div {
    width: 50%;
  }
}